{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Actualizar Inventario desde Excel</h1>

    <form id="uploadForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Subir y Actualizar</button>
        <a href="{% url 'descargar_inventario' %}" class="btn btn-success">Descargar Inventario</a>
        <a href="{% url 'listar_stock' %}" class="btn btn-primary">Cancelar</a>
    </form>
   

    <!-- Contenedor de mensajes de error -->
    <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
</div>

<script>
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        const fileInput = document.querySelector('input[type="file"]');
        const errorMessage = document.getElementById('error-message');
        const allowedExtensions = /(\.xls|\.xlsx)$/i;
        const errorMessagesDiv = document.getElementById('errorMessages');  // Mensaje de error
        const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));  // Modal de carga
        const progressBar = document.getElementById('progressBar');  // Barra de progreso

        let errorMessages = [];

        // Limpiar mensaje de error
        errorMessage.style.display = 'none';
        errorMessagesDiv.innerHTML = '';

        // Verificar si se ha seleccionado un archivo
        if (!fileInput.value) {
            event.preventDefault();
            errorMessages.push('Por favor, selecciona un archivo para cargar.');
        }

        // Verificar si el archivo es un Excel
        if (!allowedExtensions.exec(fileInput.value)) {
            event.preventDefault();
            errorMessages.push('El archivo seleccionado no es válido. Por favor, selecciona un archivo Excel con extensión .xls o .xlsx.');
        }

        // Si hay errores, mostrar los mensajes y evitar el envío del formulario
        if (errorMessages.length > 0) {
            errorMessagesDiv.innerHTML = errorMessages.join("<br>");
            errorMessagesDiv.classList.remove("d-none");
            return false;
        }

        // No hay errores, mostrar modal y barra de progreso
        errorMessagesDiv.classList.add("d-none");
        loadingModal.show();

        // Simular la barra de progreso
        let progress = 0;
        const interval = setInterval(() => {
            progress += 10;
            progressBar.style.width = progress + "%";
            progressBar.setAttribute('aria-valuenow', progress);
            if (progress >= 100) {
                clearInterval(interval);
                loadingModal.hide();  // Ocultar el modal al completar el progreso
            }
        }, 1000);  // Simular la barra de progreso cada segundo

        return true;  // Permitir el envío del formulario
    });
</script>

{% endblock %}
