{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Listado de Stock</h1>
{% load static %}

    <div class="btn-container">
        <button class="btn-print" onclick="window.print()">Imprimir</button>
        <a href="{% url 'listar_stock' %}" class="btn btn-secondary">Volver</a>
    </div>
    


    
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Depósito</th>
                    <th scope="col">Tipo de Elemento</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in stock_items %}
                <tr>
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.deposito }}</td>
                    <td>{{ item.tipo_elemento }}</td>
                    <td>{{ item.cantidad }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="btn-container">
        <button class="btn-print" onclick="window.print()">Imprimir</button>
        <a href="{% url 'listar_stock' %}" class="btn btn-secondary">Volver</a>
    </div>
    

    
</div>

{% endblock %}



