{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Filtrado - PDF</title>
    {% load static %}
</head>
<body>
    <h1>Listado de estock</h1>

    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Depósito</th>
                <th>Tipo de Elemento</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stock_items %}
            <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.deposito }}</td>
                <td>{{ item.tipo_elemento }}</td>
                <td>{{ item.cantidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>

{% endblock %}