<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CENESA{% endblock %}</title>
    
    <!-- Cargar la etiqueta estática -->
    {% load static %}
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Encabezado y navegación -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logoNV.jpg' %}" alt="CENESA" height="60">
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <!-- Mostrar solo si el usuario es staff o superusuario -->
                        
                        <li class="nav-item">
                            {% if request.user.is_staff and request.user.is_superuser  %}
                                <a class="nav-link" href="/admin/">Administración</a>
                            {% endif %}
                        </li>
                        
                        <li class="nav-item">
                            {% if request.user.perfilusuario.tipo_usuario.nombre in "admin rrhh" %}
                                <a class="nav-link" href="{% url 'crear_novedad' %}">Crear Novedad</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if request.user.perfilusuario.tipo_usuario.nombre in "admin farmacia" %}
                            <a class="nav-link" href="{% url 'listar_stock' %}">Farmacia</a>
                            {% endif %}
                        
                        </li>
                        

                        <!-- Submenú desplegable para Formularios -->
                        <li class="nav-item dropdown">
                            {% if request.user.perfilusuario.tipo_usuario.nombre in "admin rrhh" %}
                            <a class="nav-link dropdown-toggle" href="#" id="formulariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Formularios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="formulariosDropdown">
                                <li><a class="dropdown-item" href="{% url 'listar_pedidos_autorizacion' %}">Autorizaciones</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar_formularios' %}">Formularios</a></li>
                            {% endif %}
                            </ul>
                        </li>

                        <!-- Submenú desplegable para Obras Sociales -->
                        
                        <li class="nav-item dropdown">
                            {% if request.user.perfilusuario.tipo_usuario.nombre in "admin facturacion" %}
                            <a class="nav-link dropdown-toggle" href="#" id="obrasSocialesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Facturación
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="obrasSocialesDropdown">
                                <li><a class="dropdown-item" href="{% url 'listar_obras_sociales' %}">Obras Sociales</a></li>
                                
                                <li><a class="dropdown-item" href="{% url 'subir_excel' %}">Carga de Valores Prestacionales</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar_archivos' %}">Listado de Valores Cargados</a></li>
                            {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Bloque para mostrar mensajes -->
    {% if messages %}
        <div class="container mt-4">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <!-- Contenido dinámico -->
    <main class="container mt-5">
        {% block content %}
        <div class="modal fade" id="modalSinPermisos" tabindex="-1" role="dialog" aria-labelledby="modalSinPermisosLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalSinPermisosLabel">Acción no permitida</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Usted no tiene permiso para realizar esta acción. Contacte al administrador.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </main>
    
    <!-- Modal de permiso denegado -->
   

    <!-- Bootstrap JS y Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Mostrar el modal si la variable modal es verdadera -->
    {% if modal %}
    <script>
        // Mostrar el modal automáticamente si 'modal' es True
        document.addEventListener("DOMContentLoaded", function() {
            var modalElement = new bootstrap.Modal(document.getElementById('modalSinPermisos'));
            modalElement.show();
        });
    </script>
    {% endif %}

</body>
</html>
