{% extends 'base.html' %}
{% block content %}
<h2>Subir PDF Rellenado</h2>
<form method="post" enctype="multipart/form-data" id="pdfForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Enviar Solicitud</button>
</form>

<script>
    // Obtener el formulario y el input de archivos
    const form = document.getElementById('pdfForm');
    const fileInput = document.querySelector('input[type="file"]');

    form.addEventListener('submit', function(event) {
        const file = fileInput.files[0];

        // Verificar si se ha seleccionado un archivo
        if (!file) {
            alert('Por favor, selecciona un archivo PDF antes de enviar.');
            event.preventDefault(); // Prevenir el envío del formulario
            return;
        }

        // Verificar si el archivo es un PDF
        const fileType = file.type;
        if (fileType !== 'application/pdf') {
            alert('Solo se permiten archivos PDF.');
            event.preventDefault(); // Prevenir el envío del formulario
        }
    });
</script>
{% endblock %}
