{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Archivos Excel Subidos</h2>
    <!-- Formulario de Filtros -->
    <form method="GET" action="{% url 'listar_archivos' %}" class="mb-4">
        <div class="row">
            <div class="col-md-4">
                <label for="obra_social">Obra Social:</label>
                <input type="text" name="obra_social" id="obra_social" class="form-control" value="{{ obra_social_query }}">
            </div>
            <div class="col-md-4">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" id="usuario" class="form-control" value="{{ usuario_query }}">
            </div>
            <div class="col-md-4">
                <label for="fecha">Fecha (YYYY-MM-DD):</label>
                <input type="date" name="fecha" id="fecha" class="form-control" value="{{ fecha_query }}">
            </div>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
            <a href="{% url 'listar_archivos' %}" class="btn btn-secondary">Limpiar</a>
            {% if request.user.perfilusuario.tipo_usuario.nombre in "admin facturacion" %}
            <a href="{% url 'subir_excel' %}" class="btn btn-primary">Carga de Valores Prestacionales </a>
            {% endif %}
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Obra Social / ART</th>
                    <th>Archivo</th>
                    <th>Usuario</th>  <!-- Nueva columna para el nombre del usuario -->
                    <th>Fecha de Carga</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for archivo in archivos %}
                <tr>
                    <td>{{ archivo.obra_social.nombre }}</td>
                    <td>{{ archivo.archivo.name }}</td>
                    <td>{% if archivo.usuario %}{{ archivo.usuario.username }}{% else %}Desconocido{% endif %}</td><!-- Mostrar el nombre de usuario -->
                    <td>{{ archivo.fecha_carga|date:"d M Y" }}</td>
                    <td>
                        {% if request.user.perfilusuario.tipo_usuario.nombre in "admin facturacion" %}
                        <a href="{{ archivo.archivo.url }}" class="btn btn-info btn-sm" download>
                            <i class="fas fa-download"></i> Descargar
                        </a>
                        {% endif %}
                        {% if request.user.perfilusuario.tipo_usuario.nombre in "admin" %}
                        <a href="{% url 'procesar_excel' archivo.id %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-cogs"></i> Procesar
                        </a>
                        <a href="{% url 'exportar_valores_procesados' archivo.id %}" class="btn btn-success btn-sm">
                            <i class="fas fa-file-export"></i> Exportar
                        </a>
                        <a href="{% url 'eliminar_archivo_excel' archivo.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este archivo? Esta acción no se puede deshacer.')">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <!-- Paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET %}&amp;{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&amp;{% endif %}{% endfor %}{% endif %}">Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET %}&amp;{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&amp;{% endif %}{% endfor %}{% endif %}">Anterior</a>
            {% endif %}
    
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET %}&amp;{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&amp;{% endif %}{% endfor %}{% endif %}">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET %}&amp;{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&amp;{% endif %}{% endfor %}{% endif %}">Última</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}