{% extends 'base.html' %}
{% load static %}
{% block title %}Ver Formulario{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ formulario.nombre }}</h1>
        <p>{{ formulario.descripcion }}</p>
        
        {% if formulario.pdf %}
            <h3>PDF del Formulario:</h3>
            <embed src="{{ formulario.pdf.url }}" width="100%" height="600px" type="application/pdf" />
            <p>Descargar PDF: <a href="{{ formulario.pdf.url }}" target="_blank">Aquí</a></p>
        {% else %}
            <p>No hay un archivo PDF asociado a este formulario.</p>
        {% endif %}
    </div>
{% endblock %}

