{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>Obras Sociales Y ART</h2>

    <!-- Botón para crear una nueva obra social -->
    <a href="{% url 'crear_obra_social' %}" class="btn btn-success mb-3">Crear Nueva Obra Social</a>

    <!-- Botón con submenú para importar Obras Sociales/ART -->
    <div class="btn-group mb-3">
        {% if request.user.perfilusuario.tipo_usuario.nombre in "admin" %}
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Importar Obras Social/ART
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'carga_obra_social_geclisa' %}">Cargar Formato Geclisa</a></li>
            <li><a class="dropdown-item" href="{% url 'carga_obra_social_estandar' %}">Cargar Formato Estándar</a></li>
        </ul>
        {% endif %} 
    </div>

    <!-- Formulario de búsqueda por código y nombre -->
    <form method="get" class="mb-3">
        <div class="row g-3">
            <!-- Campo para buscar por código -->
            <div class="col-md-4">
                <input type="text" name="codigo" value="{{ codigo_query }}" class="form-control" placeholder="Buscar por código">
            </div>
            <!-- Campo para buscar por nombre -->
            <div class="col-md-4">
                <input type="text" name="nombre" value="{{ nombre_query }}" class="form-control" placeholder="Buscar por nombre">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Buscar</button>
                <a href="{% url 'listar_obras_sociales' %}" class="btn btn-secondary">Limpiar</a>
            </div>
        </div>
    </form>

    

  

    <!-- Tabla de resultados -->
    <table class="table table-bordered table-hover table-striped text-center">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for obra_social in obras_sociales %}
            <tr>
                <td>{{ obra_social.nombre }}</td>
                <td>{{ obra_social.codigo }}</td>
                <td>
                    <a href="{% url 'editar_obra_social' obra_social.id %}" class="btn btn-primary btn-sm">Editar</a>
                    {% if request.user.perfilusuario.tipo_usuario.nombre in "admin" %}
                    <a href="{% url 'eliminar_obra_social' obra_social.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar esta obra social?')">Eliminar</a>
                    {% endif %} 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center mb-3">
        {% if request.user.perfilusuario.tipo_usuario.nombre in "admin" %}
        <a href="{% url 'vaciar_obras_sociales' %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar todas las obras sociales? Esta acción no se puede deshacer.')">
            <i class="fas fa-trash"></i> Vaciar Obras Sociales
        </a>
        {% endif %} 
    </div>

    <!-- Paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET %}&amp;{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&amp;{% endif %}{% endfor %}{% endif %}">Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET %}&amp;{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&amp;{% endif %}{% endfor %}{% endif %}">Anterior</a>
            {% endif %}
    
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET %}&amp;{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&amp;{% endif %}{% endfor %}{% endif %}">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET %}&amp;{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&amp;{% endif %}{% endfor %}{% endif %}">Última</a>
            {% endif %}
        </span>
    </div>


{% endblock %}
